<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX Counter</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.4"
      integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <h1>PHARMACY MULTISTORE APPLICATION</h1>

    <form
      id="ProductSearchForm"
      hx-target="#ProductTable"
      hx-swap="outerHTML"
      action="/products"
      hx-boost="true"
    >
      <label for="SkuField">SKU</label>
      <input type="number" name="SkuField" id="SkuField" value="" />

      <label for="ProductNameField">Product Name</label>
      <input
        type="text"
        name="ProductNameField"
        id="ProductNameField"
        value=""
      />
      <button type="submit">LETS GO</button>
    </form>

    <table id="ProductTable">
      <tr id="ProductTableHeaders">
        {{range .ProductTableHeaders}}
        <th>{{.Header}}</th>
        {{end}}
      </tr>

      <div id="Products">
        {{range .Products}}
        <tr id="{{.Sku}}">
          <td>{{.Sku}}</td>
          <td>{{.ProdName}}</td>
          <td>{{.Soh}}</td>
          <td>{{.Price}}</td>
          <td>{{.PromoPrice}}</td>
        </tr>
        {{end}}
      </div>
    </table>
  </body>
</html>
